.websitewrapper{
	height: 800px;
	width: 1000px;
	background-color: red;
}

.wrapper1{
	float: left;
	height: 800px;
	width: 200px;
	background-color: #89cff0;
}

.wrapper2{
	float: left;
	height: 800px;
	width: 600px;
	background-color: #89cff0;
	text-align: center;
}

.wrapper3{
	float: left;
	height: 800px;
	width: 200px;
	background-color: grey;
}

.a1{
	height: 200px;
	width: 200px;
	background-color: #89cff0;
	color: white;
	font-size: 200%;

}

.a2{
	height: 200px;
	width: 200px;
	background-color: grey;
	margin-top: 400px;
		color: white;
	font-size: 100%;
	font-family: verdana;
}

.main_content{
	display: inline-block;
	height: 600px;
	width: 400px;
	background-color: #89cff0;
	margin-top:100px;
}

.panel{
	height: 200px;
	width: 200px;
	background-color: grey;
	color: white;
	font-size: 400%;

}
#button1{
	background-color: #89cff0;
	border: none;
	color: white;
	font-family: verdana;
}
#sell10{
	width: 190px;
	background-color: grey;
	color: white;
	font-size: 100%;
	font-family: verdana;
}
#sell1{
	width: 190px;
	background-color: grey;
	color: white;
	font-size: 100%;
	font-family: verdana;
	border: none;
}
