#wrapper1{
position:relative;
	width: 1900px;
	height: 1250px;
	background-color: black;
}
#wrapper2{
position:relative;
	width: 1600px;
	height: 1286px;
	align-self: center;
	align-content: center;
	background-color: #a1cef3;
}
#section1{
	width: 400px;
	height: 1250px;
	background-color: grey;
}
#section2{

	width: 800px;
	height: 1250px;
	background-color: red;

}
body{
	background-color: #a1cef3
	text-align: center;
}
#button1{
	border: none;
	background-color: #89cff0;
	color: white;
	width: 100%;
}
#button2{
	border: none;
	background-color: #89cff0;
	color: white;
	width: 100%;
}
#button3{
	border: none;
	background-color: #89cff0;
	color: white;
	width: 100%;
}
#linktext{
	border: none;
	background-color: #89cff0;
	color: white;
	width: 100%;
}
#shop{
	background-color: grey;
}
#button4{
	border: none;
	background-color: grey;
	color: white;
	width: 49%;
}